.mainResultDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: none;
}

.mainResultDiv.show {
    display: block;
}

.mainForm .result {
    background-color: rgba(182, 176, 176, 0.7);
    padding: 4rem 2rem;
    border-radius: 10px;
    width: 100%;
    color: white;
}

.mainForm .btn {
    background-color: orange !important;
}

.mainForm .btn:hover {
    background-color: darkorange !important;
}

.retake-btn {
    animation-name: showBtn;
    animation-delay: 2s;
}

@keyframes showBtn {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: block;
    }
}