button {
    box-shadow: none !important;
}

.warning-review {
    background-color: red !important;
    color: white !important;
    cursor: pointer !important;
}

.answered-review {
    background-color: blue !important;
    color: white !important;
    cursor: pointer !important;
}