.mainTestPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white !important;
    padding-bottom: 4rem;
}

.school-name {
    background-color: blue;
    color: white;
}

.school-name h3 {
    font-weight: 400 !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.timer-container {
    background-color: aliceblue;
}

.info-div .person-icon {
    color: darkorange !important;
}

.info-div .person-name {
    font-weight: 500 !important;
    font-size: 20px;
}

.timer-div {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
}

.timer-div .time {
    font-weight: 500 !important;
    font-size: 25px;
}

.timer-div .late-time {
    color: red !important;
}

.my-clock.late-time {
    color: red !important;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.timer-div button {
    color: white;
    text-transform: uppercase;
}

.testQuestion {
    font-size: 22px;
}

.testOptionsDiv {
    display: flex;
    flex-direction: column;
}

.testOption {
    margin-bottom: 1.5rem !important;
    display: flex;
    align-items: center;
}

.testOption .alphabetOption {
    font-weight: 500;
    font-size: 20px;
    margin-right: 2rem;
}

.testOption input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid darkorange;
    background-color: transparent;
    border-radius: 50%;
    outline: none !important;
}

.testOption input[type="radio"]:hover {
    cursor: pointer;
}

.testOption input[type="radio"]:checked {
    background-color: darkorange;
}

.testOption label {
    font-size: 19px;
    font-size: 400;
}

.directionBtn {
    background-color: darkorange !important;
    color: white !important;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.directionBtn:hover {
    background-color: orange !important;
    transition: all 0.5s ease-in-out;
}

.w-25 {
    width: 40% !important;
}


@media (max-width: 768px) {
    .school-name h3 {
        font-size: 18px !important;
    }

    .timer-div .time {
        font-weight: 500 !important;
        font-size: 20px;
    }

    .testQuestion {
        font-size: 18px;
    }

    .testOption input[type="radio"] {
        width: 15px;
        height: 15px;
        padding: 3px;
    }

    .testOption label {
        font-size: 17px;
    }

    .w-25 {
        width: 60% !important;
    }
}

@media (max-width: 500px) {
    .school-name h3 {
        font-weight: 500;
        font-size: 16px !important;
    }

    .timer-container-div {
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .info-div {
        align-items: flex-start !important;
    }

    .timer-div {
        display: flex;
        width: 100% !important;
        margin-top: 1rem !important;
        justify-content: space-between !important;
    }

    .testOption .alphabetOption {
        margin-right: 1rem;
    }

    .testQuestion {
        font-size: 17px;
    }

    .testOption input[type="radio"] {
        width: 12px;
        height: 12px;
        padding: 2px;
    }

    .testOption label {
        font-size: 16px;
    }

    .w-25 {
        width: 60% !important;
    }

}