.mainTestPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: white !important;
    padding-bottom: 4rem;
}

.school-name {
    background-color: blue;
    color: white;
}

.school-name h3 {
    font-weight: 400 !important;
    font-size: 20px !important;
    text-transform: uppercase;
}

.timer-container {
    background-color: aliceblue;
}

.info-div .person-icon {
    color: darkorange !important;
}

.info-div .person-name {
    font-weight: 500 !important;
    font-size: 20px;
}

.timer-div .time {
    font-weight: 500 !important;
    font-size: 25px;
}

.timer-div button {
    color: white;
    text-transform: uppercase;
}

.testQuestion {
    font-size: 23px;
}

.testOptionsDiv {
    display: flex;
    flex-direction: column;
}

.testOption {
    margin-bottom: 1.5rem !important;
    display: flex;
    align-items: center;
}

.testOption .alphabetOption {
    font-weight: 500;
    font-size: 20px;
    margin-right: 2rem;
}

.testOption input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid darkorange;
    background-color: transparent;
    border-radius: 50%;
    outline: none !important;
}

.testOption input[type="radio"]:checked {
    background-color: darkorange;
}

.testOption label {
    font-size: 20px;
    font-size: 400;
}

.directionBtn {
    background-color: darkorange !important;
    color: white !important;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

.directionBtn:hover {
    background-color: orange !important;
    transition: all 0.5s ease-in-out;
}



@media (max-width: 768px) {
    .timer-div .time {
        font-weight: 500 !important;
        font-size: 20px;
    }

    .testQuestion {
        font-size: 20px;
    }

    .testOption input[type="radio"] {
        width: 18px;
        height: 18px;
        padding: 3px;
    }

    .testOption label {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .timer-container-div {
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .info-div {
        align-items: flex-start !important;
    }

    .timer-div {
        display: flex;
        width: 100% !important;
        margin-top: 1rem !important;
        justify-content: space-between !important;
    }

    .testOption .alphabetOption {
        margin-right: 1rem;
    }
    
}